{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="card mb-3">
        <img src="/static/images/default-profile-pic.jpg"  class="card-img-top w-25 m-auto" style="border-radius: 50%;" alt="...">
    <div class="card-body">
        <h5 class="card-title text-center">{{user.first_name}} {{user.last_name}}</h5>
        <p class="card-text"></p>
        <p class="card-text"><small class="text-muted">Account created at {{user.creation_date}}</small></p>
    </div>
    </div>


    {% for post in posts %}
        <div class="card mb-3">
            <div class="card-header d-flex align-items-center">
                <a href="{% url 'accounts:view_account' post.author.username %}" style="text-decoration: none;">
                    {% if not post.author.img %}
                        <img src="{% static 'images/default-profile-pic.jpg' %}" alt="profile-pic" width="40px" height="40px" style="border-radius: 50%;">
                    {% else %}
                        <img src="{{post.author.img.url}}" alt="profile-pic" width="40px" height="40px" style="border-radius: 50%;">
                    {% endif %}
                </a>
                <a href="{% url 'accounts:view_account' post.author.username %}" style="text-decoration: none; color: initial; margin-left: 7px;">{{post.author.first_name}} {{post.author.last_name}}</a>

                <small class="text-muted ms-auto">Last updated {{post.updated_date}}</small>
            </div>
            <div class="card-body">
                <p class="card-text">{{post.content}}</p>
                
                {% if post.img %}
                    <div>
                        <img src="{{post.img.url}}" style="width: 98%; margin: auto;" class="card-img-bottom" alt="post-pic">
                    </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>

{% endblock content %}