{% extends 'base.html' %}
{% load static %}
{% block title %}Change Password{% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'accounts/css/style.css' %}"> 
{% endblock extra_css %}

{% block content %}
    <form  class="form change-password-form" method="post">
        {% csrf_token %}
        {{change_password_form}}
        {% if messages %}
            {% for msg in messages %}
                <div class="alert alert-{{msg.tags}}" >{{msg}}</div>
            {% endfor %}
        {% endif %}
        <button id="save-password-btn" class="btn bg-info w-100" disabled="true" type="submit" >Save Changes</button>
    </form>
{% endblock content %}


{% block extra_js %}

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const inputs = document.querySelectorAll('input');
        const saveBtn = document.getElementById('save-password-btn');


        function checkInputs(){
            for(let input of inputs) {
                if(input.value === '') {
                    saveBtn.disabled = true;
                    return;
                }
            }
            saveBtn.disabled = false;
        }

        inputs.forEach(element => {
            element.addEventListener('input', checkInputs);
        })
    });
</script>

{% endblock extra_js %}
