{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'accounts/css/style.css' %}"> 
{% endblock extra_css %}

{% block content %}
    <form class="form login" method="POST">
        {% csrf_token %}
        {{login_form}}
        {% if messages %}
            {% for msg in messages %}
                <div class="alert alert-{{msg.tags}}">{{msg}}</div>
            {% endfor %}
        {% endif %}
        <button class="btn bg-info w-100" type="submit" >Login</button>
        <a href="{% url 'accounts:find_account' %}" class='forgot-password'>Forgot password?<a>
        <hr>
        <a href="{% url 'accounts:sign_up' %}" class="create-new-account-btn btn btn-primary">Create new account</a>
    </form>
{% endblock content %}