{% extends 'base.html' %}
{% load static %}
{% block title %}Reset Password{% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'accounts/css/style.css' %}"> 
{% endblock extra_css %}

{% block content %}
    <form  class="form reset-password-form" method="POST">
        {% csrf_token %}
        <h4 class="bold">Reset your password</h4>
        <hr>
        {{reset_password_form}}
        {% if messages %}
            {% for msg in messages %}
                <div class="alert alert-{{msg.tags}}" >{{msg}}</div>
            {% endfor %}
        {% endif %}
        <button id="reset-password-btn" class="btn bg-info w-100" disabled="true" type="submit" >Reset password</button>
    </form>
{% endblock content %}



{% block extra_js %}
<!-- script for enabled/deiabled the reset password button! -->
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const resetPasswordBtn = document.getElementById('reset-password-btn');

        const resetPasswordInputs = document.querySelectorAll('.reset-password-input');

        function checkInputs() {
            if (!resetPasswordInputs[0].value || !resetPasswordInputs[1].value){
                resetPasswordBtn.disabled = true;
            } else {
                resetPasswordBtn.disabled = false;
            }
        }
        resetPasswordInputs.forEach(element => {
            element.addEventListener('input', checkInputs)
        })

    })
</script>
{% endblock extra_js %}
