/* Forms */
.form {
    width: 500px;
    background-color: #f8f7f7;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 1px 18px 3px #00000040;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.sign-up {margin: 20px auto;}

.login {margin: 150px auto;}
/* //Forms// */


/* activation_status.html */
.activation { 
    width: 500px;
    margin: 100px auto;
}

.disabled {
    pointer-events: none;
    background-color: grey;
}

.activation a,
.activation button {
    display: inline-block;
    width: 85.22px;
}
/* //activation_status.html // */